@import url(globals.css);
:root {
	font-family: var(--ff);
	color: var(--txt-clr);
	background-color: var(--clr-bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	min-height: 100vh;
}
a {
	text-decoration: none;
	color: var(--txt-clr-dark);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
button {
	border: none;
	cursor: pointer;
	border-radius: 8px;
}

button:focus,
input {
	background-color: var(--clr-dark);
	color: var(--txt-clr);
	border: 1px solid white;
	border-radius: 4px;
}

#error-page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	gap: 20px;
}

.create-deck-form {
	margin: 20px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.input-field {
	padding: 5px;
}

.alert::after {
	content: "Title can't be empty";
	color: red;
}

.alert {
	margin: 10px;
}

.submit-button {
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	padding: 0.6em 1.2em;
	background-color: var(--btn-clr);
}

.decks {
	gap: 10px;
	display: grid;
	width: 600px;
	margin: 10px auto;
	grid-template-columns: repeat(3, 1fr);
}

.decks li {
	display: flex;
	height: 130px;
	position: relative;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	background: var(--btn-clr);
	color: var(--txt-clr-dark);
}
.decks li:hover {
	background: #eee;
}

.decks li button {
	position: absolute;
	font-size: 12px;
	top: 5px;
	right: 5px;
}

.decks li button:hover {
	background-color: #fa4b4b;
	color: white;
}
